@model InTheFrontRow.Models.Views.Home.HomeModel

@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="//use.typekit.net/ras8uai.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
<header id="masthead" class="site-header" role="banner">

</header>

<div class="container my-body">
    @foreach (var gallery in Model.Galleries)
    {
        <div class="row">
            <div class="col-md-8">
                <h1>@gallery.GalleryData.Metadata.Title</h1>
                <h4>@gallery.GalleryData.Metadata.LastUpdateTime</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="gallery-holder">
                    <div id="@gallery.GalleryWidgetId" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>

                <div id="@gallery.GalleryWidgetId">

                    @foreach (var image in gallery.GalleryData.ImageUrls)
                    {
                    <a href='@image'>
                        <img class="img_thumbnail" src='@image' alt='gallery image' data-gallery='@gallery.GalleryWidgetIdSelector'>
                    </a>
                    }
                </div>
            </div>
        </div>
        <div class="row"><div class="col-md-8"><p>@gallery.GalleryData.Metadata.Description</p></div></div>
    }

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" id="footer">
            <p>Copyright 2014 <a href="cuddles7@hotmail.com">Hailey Dice</a></p>
            <a href="https://www.facebook.com/hailey.dice"><img src="/img/facebook.png" /></a>
            <a href="https://twitter.com/hailey_lp"><img src="/img/twitter.png" /></a>
        </div>
    </div>
</div>
